<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" href="#">
        <strong>
          <i class="fa fa-bars" aria-hidden="true"></i>
          <img src="../assets/invictus-logo.png" class="logo-img" /> Invictus Digisoft</strong>
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">
            <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <strong>Menu</strong>
            <span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Submenu 1</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Submenu 2</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Submenu 3</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Submenu 4</a>
          </div>
        </li>
      </ul>
      <!-- Search form -->
      <form class="form-inline md-form form-sm active-cyan active-cyan-2">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
      </form>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-cream-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <h2>S.M.A.R.T</h2>
          <br>
          <h5>S.M.A.R.T. stands for Syllabus Management, Analysis and Reporting Tool.</h5>
          <p>As the name suggests S.M.A.R.T. would cater to the need of planning and reporting the day to day academic activities
            and progress in the syllabus of an educational institution so that adequate and corrective actions can be taken
            at the appropriate time.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p align="-webkit-center">Powered by Invictus Digisoft Pvt.Ltd. @Copyright 2018-19 </p>

      </div>
    </div>
  </div>

</main>
<!--Main Layout-->