/* You can add global styles to this file, and also import other style files */
.logo-img {     
    width: 36px;
    height: 50px;
    margin-left: 20px
}
.navbar-nav,.navbar-collapse{
    padding-left: 55%;  
}
.navbar-brand{
    padding-left: 25%;
}
